PyQt5[charts]>=5.15.0   # Qt framework for Python GUI
matplotlib>=3.5.0       # For generating graphs
pandas>=1.3.0           # For data manipulation and analysis
yfinance>=0.2.59        # For fetching financial data from Yahoo Finance
pytse-client>=0.19.1    # For fetching TSETMC data
pytest-qt>=4.4.0        # For testing PyQt applications
jdatetime>=3.8.2        # For handling Jalali dates